@media (min-width: 769px) {
    .card{
        width: 40%!important;
    }
    #product{
        flex-direction: row!important;
        justify-content: space-between;
        // width: 100%;
        &__image-container{
            width: 50%!important;
        }
        &__infos{
            width: 45%;
        }
    }
}

@media (min-width: 1024px) {
    .card{
        width: 30%!important;
    }
}